div#lectureTableSubject{
	background-color: rgba(233,252,252,0.8);
	margin-top:3px;
}
div.lecturemain{
	background-color: rgba(233,252,252,0.8);
}
div.listExam{
	border-radius:15px;
	background-color: rgba(153, 255, 51,0.2);
}
